.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.formd{
    width: 500px;
    height: auto;
}
.img-contacto{
    width: 15%;
    height: auto;
    border-radius: 100%;
    border:5px solid #fd0a60;
    border-color: #03e9f4;
}
.cont-title{
    color: aliceblue;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family:  'Black Ops One';
}
