/* education*/

.-box{
  background-color: #1E1E1E;
  margin: 40px;
  

}
  .-box:hover{
    transform: translate3d(0, -10px,0px);
    transition: transform 0.5s;
   
  }
  .conte:hover .lio{
    background: #ff0266;
  }
  .-box div a p{ 
    font-size: 15px;
  }
  

  
  section.education{
  display: grid;
  grid-template-columns: auto auto;
  
  padding: 50px;
  }
  .ed-kid{
      padding: 0px;
      margin: 0px;
  }
  .ed-kid div{
      display: flex;
      flex-direction: column;
      text-align: left;
  }
  .ed-title{
    padding: 15px;
    color: aliceblue;
    text-decoration-line: underline;
    font-size: 30px;
    font-family:  'Black Ops One';
  }
  .entity p{
  color: #03e9f4;
  margin-bottom: 0px;
  }
  .ed-title-curs{
    color: aliceblue;
  }
  .ed-icon{
    font-size: 25px;
    color: #ff0266;
  }
  .creden{
    margin-top: 15px;
    color: aliceblue;
  
  }
  .creden :hover{
    cursor: pointer;
  }
.conte{
  position: relative;
}
.conten-detalle{
  padding: 30px;
}
  .lio:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 5%;
    height: 5%;
    background-color:#03e9f4;
  }
  .lio:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 20%;
    background-color:#03e9f4;
  }
  .lio:nth-child(3){
    position: absolute;
    top: 0;
    right: 0;
    width: 5%;
    height: 5%;
    background-color:#03e9f4;
  }
  .lio:nth-child(4){
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 20%;
    background-color:#03e9f4;
  }
  .lio:nth-child(5){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5%;
    height: 5%;
    background-color:#03e9f4;
  }
  .lio:nth-child(6){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 20%;
    background-color:#03e9f4;
  }
  .lio:nth-child(7){
    position: absolute;
    bottom: 0;
    right: 0;
    width: 5%;
    height: 5%;
    background-color:#03e9f4;
  }
  .lio:nth-child(8){
    position: absolute;
    bottom: 0;
    right: 0;
    width: 5px;
    height: 20%;
    background-color:#03e9f4;
  }
  /* end education*/