/* proyecto*/
.proyecto section{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    padding-bottom: 50px;
  }
  .p-kid img{
    width: 25rem;
    height: auto;
    padding: 10px;
  }
  .btncl a {
    text-decoration: none;
   
    padding: 10px;
    color: aliceblue;
  }
  .btncl a:hover {
    cursor: pointer;
    transition:none
  }
  .btncl a::before {
    background-color:#191919;
    position: absolute;
    display: block;
   

    transition:none;
  }
  .line-animada{
    
    width: 0px;
    height: 0px;
    background-color: #191919;
    animation-name: none;
    animation-duration: none;
    padding-top: 0px;
    padding-right: 0px;
    transform:none
   
}
strong{
    color: aliceblue;
}
.pr-icons{
    color: #fd0a60;
    font-size: 35px;  
}
.p-title{
  color: aliceblue;
    text-decoration-line: underline;
    font-size: 30px;
  }
  .hrs{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    width:97%;
    color: #02A9DA;
   
    opacity: 100%;
  }
/* end proyecto*/